/* RESET DEFAULT */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* GENERAL */
a:link, a:visited, a:hover, a:active {
	color: inherit;
}
a:hover, a:active {
	color: aqua;
	transition: color 0.5s ease-in-out;
}
body {
	display: flex;
	font-family: Noto Sans, sans-serif;
	min-height: 100vh;
	min-width: 100vw;
}

/* ASIDE */
aside.background-image {
	background: url("images/background-image.jpg") no-repeat fixed center top/cover;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.aside-image {
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	flex: 0 0 200px;
	justify-content: center;
	margin: 50% 0 10% 0;
	padding: 10px;
	gap: 5px;
}
.aside-image img {
	border-radius: 10px;
}
.aside-image p {
	color: white;
	font-size: 4em;
}

.photo-credit {
	align-items: flex-end;
	display: flex;
	flex: 1;
	justify-content: center;
}
.photo-credit p {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	color: white;
	margin-bottom: 5px;
	padding: 0px 5px;
}

/* MAIN */
main {
	background: rgba(192, 192, 214, 0.1);
	display: flex;
	flex-direction: column;
	flex: 2;
}

/* MAIN DESCRIPTION */
section.main-description {
	align-items: flex-end;
	display: flex;
	flex: 1;
	padding: 30px;
	max-width: 700px;
}

/* MAIN SIGNUP */
form.signup-form {
	justify-content: center;
	background: rgba(255, 255, 255, 1.0);
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 10px 30px;
}
div.signup-area {
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 10px;
	max-height: 250px;
}
div.signup-section {
	display: flex;
	gap: 50px;
}
div.label-input {
	display: flex;
	flex-direction: column;
}
div.label-input label {
	color: rgba(70, 70, 70, 1);
	font-weight: bold;
	font-size: 0.75em;
}
div.label-input input {
	width: 225px;
}

/* MAIN SUBMIT */
div.signup-submit {
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 20px;
}
div.signup-submit button {
	height: auto;
	width: 200px;
	background: rgba(44, 53, 76, 1.0);
	border-radius: 10px;
	color: white;
	padding: 10px;
}

